#root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: lightblue;
  padding: 20px;
  display: flex;
  height: 40px;
}
.layout {
  display: flex;
  flex: 1;
}
.main {
  flex: 1;
}
.sidebar {
  width: 20%;
}
.footer {
  
  height: 50px;
}
