
main .products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px 50px;
  justify-content: center;
}
main .products .product {
  max-width: 250px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
main .products .product .product-details {
  padding: 0 20px;
}
main .products .product h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .products .product * {
  margin: 10px 0;
}
main .products .product .add-to-bag {
  width: 100%;
  padding: 3px;

  background-color: #f00;
  color: white;
  font-weight: 700;
}

footer {
  background-color: #222;
  color: #fff;
  height: 10vh;
}
