.comments-div{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
   width: 200px;
    box-shadow: 0 0 0 1px rgba(133, 132, 132, 0.5);
   
}
.comments-div:hover{
    box-shadow: 0 0 10px 1px rgba(133, 132, 132, 0.5);
    transition: all 0.3s ease-in-out;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}